In [2]:
cols = ['Loan Type:',
'Loan Award ID:',
'Loan Attending School Name:',
'Loan Date:',
'Loan Amount:',
'Loan Disbursed Amount:',
'Loan Outstanding Principal Balance:',
'Loan Outstanding Interest Balance:',
'Loan Interest Rate Type:',
'Loan Interest Rate:',
'Loan Contact Name:',
'dummy', # HACK: because I am getting Loan Contact Name coming in 3 times on some entries
'dummy']

In [3]:
delimiter = 'Loan Type:'
loans = open('MyStudentData.txt', 'r').read().split(delimiter)

In [4]:
loans.pop(0) # remove header info

'File Source:U.S. DEPARTMENT OF EDUCATION, NATIONAL STUDENT LOAN DATA SYSTEM (NSLDS)\nFile Request Date:2020-09-25-14.59.51.788\nStudent First Name:JAMES\nStudent Middle Initial:M\nStudent Last Name:STONE\nStudent Street Address 1:123 EAST SAN CARLOS STREET #266\nStudent Street Address 2:\nStudent City:SAN JOSE\nStudent State Code:CA\nStudent Country Code:US\nStudent Zip Code:95112\nStudent Email Address:jamesmanofstone@GMAIL.COM\nStudent Home Phone Country Code:\nStudent Home Phone Number:\nStudent Home Phone Preferred:\nStudent Cell Phone Country Code:\nStudent Cell Phone Number:\nStudent Cell Phone Preferred:\nStudent Work Phone Country Code:\nStudent Work Phone Number:\nStudent Work Phone Preferred:\nStudent SULA Maximum Eligibility Period:0.0\nStudent SULA Subsidized Usage Period:0.0\nStudent SULA Remaining Eligibility Period:0.0\nStudent Enrollment Status:WITHDRAWN\nStudent Enrollment Status Effective Date:08/25/2016\nStudent Total All Loans Outstanding Principal:$111,538\nStudent Total All Loans Outstanding Interest:$15,739\nStudent Pell Lifetime Eligibility Used:500.000%\nStudent Iraq and Afghanistan Service Lifetime Eligibility Used:0.000%\nStudent Total All Grants:$19,966\nTotal DIRECT STAFFORD UNSUBSIDIZED Outstanding Principal:$13,376\nTotal DIRECT STAFFORD UNSUBSIDIZED Outstanding Interest:$3,032\nTotal DIRECT STAFFORD SUBSIDIZED Outstanding Principal:$15,316\nTotal DIRECT STAFFORD SUBSIDIZED Outstanding Interest:$3,472\nTotal FFEL STAFFORD UNSUBSIDIZED Outstanding Principal:$42,841\nTotal FFEL STAFFORD UNSUBSIDIZED Outstanding Interest:$5,980\nTotal FFEL STAFFORD SUBSIDIZED Outstanding Principal:$30,059\nTotal FFEL STAFFORD SUBSIDIZED Outstanding Interest:$3,255\nTotal FEDERAL PERKINS Outstanding Principal:$9,946\nTotal FEDERAL PERKINS Outstanding Interest:$0\n'

In [5]:
proc_loans = []
for l in loans:
    proc_loans.append((delimiter + l).split('\n'))

In [6]:
data = []
for p in proc_loans:
    temp_loan = []
    for c in cols:
        for line in p:
            if line.startswith(c):
                    temp_loan.append(line.split(':')[1])
    data.append(temp_loan)

data

[['DIRECT STAFFORD UNSUBSIDIZED',
  '*****3202U12G03329001',
  'PENNSYLVANIA STATE UNIVERSITY (THE)',
  '08/14/2011',
  '$9,198',
  '$9,198',
  '$12,564',
  '$2,848',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['DIRECT STAFFORD SUBSIDIZED',
  '*****3202S12G03329001',
  'PENNSYLVANIA STATE UNIVERSITY (THE)',
  '08/19/2011',
  '$8,500',
  '$8,500',
  '$9,992',
  '$2,265',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['DIRECT STAFFORD SUBSIDIZED',
  '*****3202S11G03329002',
  'PENNSYLVANIA STATE UNIVERSITY (THE)',
  '06/30/2011',
  '$3,043',
  '$3,043',
  '$3,577',
  '$811',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['DIRECT STAFFORD SUBSIDIZED',
  '*****3202S11G03329001',
  'PENNSYLVANIA STATE UNIVERSITY (THE)',
  '08/27/2010',
  '$1,486',
  '$1,486',
  '$1,747',
  '$396',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['DIRECT STAFFORD UNSUBSIDIZED',
  '*****3202U11G03329001',
  'PENNSYLVANIA STATE UNIVERSITY (THE)',
  '08/27/2010',
  '$560',
  '$560',
  '$812',
  '$184',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '*****3202209001155101',
  'SAN JOSE STATE UNIVERSITY',
  '08/28/2009',
  '$11,191',
  '$7,566',
  '$11,687',
  '$2,653',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['FFEL STAFFORD SUBSIDIZED',
  '*****3202109001155100',
  'SAN JOSE STATE UNIVERSITY',
  '08/28/2009',
  '$811',
  '$812',
  '$925',
  '$173',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['FEDERAL PERKINS',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '08/18/2009',
  '$4,000',
  '$4,000',
  '$4,000',
  '$0',
  '',
  '5.00%',
  'SAN JOSE STATE UNIVERSITY'],
 ['FFEL STAFFORD SUBSIDIZED',
  '*****3202108001155201',
  'SAN JOSE STATE UNIVERSITY',
  '09/04/2008',
  '$3,000',
  '$3,000',
  '$3,451',
  '$691',
  'FIXED',
  '0.00%',
  'DEBT MANAGEMENT AND COLLECTIONS SYSTEM'],
 ['FEDERAL PERKINS',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '08/18/2008',
  '$4,973',
  '$4,973',
  '$4,973',
  '$0',
  '',
  '5.00%',
  'SAN JOSE STATE UNIVERSITY'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '04/08/2008',
  '$545',
  '$545',
  '$998',
  '$185',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT EFS FINANCE CO & AFFIL.'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '06/15/2007',
  '$651',
  '$651',
  '$1,252',
  '$232',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FEDERAL PERKINS',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '05/22/2007',
  '$973',
  '$973',
  '$973',
  '$0',
  '',
  '5.00%',
  'SAN JOSE STATE UNIVERSITY'],
 ['FFEL STAFFORD SUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '08/14/2006',
  '$5,500',
  '$5,500',
  '$6,965',
  '$1,292',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '08/14/2006',
  '$3,500',
  '$3,500',
  '$6,821',
  '$1,265',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '04/23/2007',
  '$849',
  '$849',
  '$1,638',
  '$304',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD SUBSIDIZED',
  '',
  'AMERICAN RIVER COLLEGE',
  '07/29/2005',
  '$2,625',
  '$2,625',
  '$2,874',
  '$319',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'AMERICAN RIVER COLLEGE',
  '07/29/2005',
  '$1,402',
  '$1,402',
  '$1,993',
  '$221',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SACRAMENTO CITY COLLEGE',
  '02/23/2004',
  '$4,000',
  '$4,000',
  '$5,903',
  '$654',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD SUBSIDIZED',
  '',
  'SACRAMENTO CITY COLLEGE',
  '02/23/2004',
  '$2,625',
  '$2,625',
  '$2,874',
  '$319',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'US BANK ELT BHEA'],
 ['FFEL STAFFORD SUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '08/07/2007',
  '$5,500',
  '$5,500',
  '$9,049',
  '$367',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '09/28/2007',
  '$2,500',
  '$2,500',
  '$5,994',
  '$243',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '10/22/2007',
  '$1,635',
  '$1,635',
  '$3,914',
  '$159',
  'FIXED',
  '6.80%',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD SUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '01/27/2006',
  '$2,625',
  '$2,625',
  '$3,502',
  '$84',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '01/27/2006',
  '$780',
  '$780',
  '$1,326',
  '$32',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '05/05/2006',
  '$780',
  '$780',
  '$1,315',
  '$32',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD SUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '05/05/2006',
  '$314',
  '$314',
  '$419',
  '$10',
  'VARIABLE',
  '',
  'EDUCATIONAL CREDIT MANAGEMENT CORP',
  'NAVIENT SOLUTIONS, LLC.',
  'WELLS FARGO ELT NAVIENT STU LN TRST'],
 ['FFEL STAFFORD UNSUBSIDIZED',
  '',
  'SAN JOSE STATE UNIVERSITY',
  '03/21/2008',
  '$545',
  '$0',
  '$0',
  '$0',
  'FIXED',
  '6.80%',
  'ECMC-CA',
  'US BANK ELT EFSI']]

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame.from_records(data, columns=cols, coerce_float=True)

In [9]:
df.convert_dtypes(infer_objects=True, convert_string=True, convert_integer=True, convert_boolean=True)

AttributeError: 'DataFrame' object has no attribute 'convert_dtypes'

In [10]:
df.describe()

,Loan Type:,Loan Award ID:,Loan Attending School Name:,Loan Date:,Loan Amount:,Loan Disbursed Amount:,Loan Outstanding Principal Balance:,Loan Outstanding Interest Balance:,Loan Interest Rate Type:,Loan Interest Rate:,Loan Contact Name:,dummy,dummy
count,28,28,28,28,28,28,28,28,28,28,28,17,7
unique,5,9,4,21,22,23,27,23,3,4,4,4,1
top,FFEL STAFFORD UNSUBSIDIZED,,SAN JOSE STATE UNIVERSITY,02/23/2004,"$2,625","$2,625","$2,874",$0,FIXED,6.80%,EDUCATIONAL CREDIT MANAGEMENT CORP,US BANK ELT BHEA,WELLS FARGO ELT NAVIENT STU LN TRST
freq,12,20,19,2,3,3,2,4,17,9,16,8,7

In [11]:
df.tail()

,Loan Type:,Loan Award ID:,Loan Attending School Name:,Loan Date:,Loan Amount:,Loan Disbursed Amount:,Loan Outstanding Principal Balance:,Loan Outstanding Interest Balance:,Loan Interest Rate Type:,Loan Interest Rate:,Loan Contact Name:,dummy,dummy
23,FFEL STAFFORD SUBSIDIZED,,SAN JOSE STATE UNIVERSITY,01/27/2006,"$2,625","$2,625","$3,502",$84,VARIABLE,,EDUCATIONAL CREDIT MANAGEMENT CORP,"NAVIENT SOLUTIONS, LLC.",WELLS FARGO ELT NAVIENT STU LN TRST
24,FFEL STAFFORD UNSUBSIDIZED,,SAN JOSE STATE UNIVERSITY,01/27/2006,$780,$780,"$1,326",$32,VARIABLE,,EDUCATIONAL CREDIT MANAGEMENT CORP,"NAVIENT SOLUTIONS, LLC.",WELLS FARGO ELT NAVIENT STU LN TRST
25,FFEL STAFFORD UNSUBSIDIZED,,SAN JOSE STATE UNIVERSITY,05/05/2006,$780,$780,"$1,315",$32,VARIABLE,,EDUCATIONAL CREDIT MANAGEMENT CORP,"NAVIENT SOLUTIONS, LLC.",WELLS FARGO ELT NAVIENT STU LN TRST
26,FFEL STAFFORD SUBSIDIZED,,SAN JOSE STATE UNIVERSITY,05/05/2006,$314,$314,$419,$10,VARIABLE,,EDUCATIONAL CREDIT MANAGEMENT CORP,"NAVIENT SOLUTIONS, LLC.",WELLS FARGO ELT NAVIENT STU LN TRST
27,FFEL STAFFORD UNSUBSIDIZED,,SAN JOSE STATE UNIVERSITY,03/21/2008,$545,$0,$0,$0,FIXED,6.80%,ECMC-CA,US BANK ELT EFSI,None

In [12]:
df.dtypes

Loan Type:                             object
Loan Award ID:                         object
Loan Attending School Name:            object
Loan Date:                             object
Loan Amount:                           object
Loan Disbursed Amount:                 object
Loan Outstanding Principal Balance:    object
Loan Outstanding Interest Balance:     object
Loan Interest Rate Type:               object
Loan Interest Rate:                    object
Loan Contact Name:                     object
dummy                                  object
dummy                                  object
dtype: object

In [13]:
df.convert_dtypes()

AttributeError: 'DataFrame' object has no attribute 'convert_dtypes'